{
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "requirePragma": false,
  "insertPragma": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}